html,body {
    width: 60%;
    margin:0 auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(181, 181, 207);
}

.container {
    width: 380px;
}

#inputfield {
    width: 260px;
    height: 46px;
    border: 1px solid black;
    font-size: 25px;
    vertical-align: middle;
}

#Addtodo {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    vertical-align: middle;
    font-size: 30px;
}

.to-dos {
    margin-top: 25px;
    background-color: rgb(144, 153, 153);
}

.paragraph-styling {
    margin: 0;
    cursor: pointer;
    font-size: 20px;
}
/* Mobile Device */
@media screen and (max-width:480px) {
    h1{
        font-size: 1em;
    }

    .container{
        width: 200px;
    }

    #inputfield{
        width: 200px;
        height: 40px;
        font-size: 16em;
    }

    #Addtodo{
        height: 42px;
        width: 40px;
        font-size: 30px;
        font-size: 2em;
    }
    .to-dos {
        margin: 25px;
        background-color: rgb(144, 153, 153);
    }
}